.mainContainer {
  width: 350px;
  text-align: left;
  padding: 2rem;
}

.title {
  font-size: 1.5rem;
}

.productInput {
  margin-top: 1rem;
}

.productInput1 {
  margin-top: 2rem;
  text-align: center;
  padding-bottom: 10%;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1rem;
  }
}
