.navbarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.titleNavbar {
  font-size: 2rem;
  margin: 0;
  cursor: default;
}

.userIcon {
  font-size: 2rem;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .titleNavbar {
    font-size: 1rem;
  }

  .userIcon {
    font-size: 1.3rem;
  }
}
