.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/fondo.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.login-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 400px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.3);
}

.input-login {
  margin-top: 3rem;
  width: 70%;
}

.input-login2 {
  margin-top: 1rem;
  width: 70%;
}

.input-login3 {
  margin-top: 4rem;
  text-align: center;
  width: 70%;
}

.crear-cuenta {
  margin-top: 2rem;
}
