.productsPage {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 70px;
  background: #f5f5f5;
  border-bottom:1px solid rgb(226, 218, 218);
  background-image: url("../../images/negro.jpg");
}

.productsPageContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.newProduct {
  display: flex;
  justify-content: center;
  width: 30%;
  overflow-y: auto;
  background: #ffffff;
  border-right:1px solid rgb(226, 218, 218);
  
}

.productList {
  display: flex;
  justify-content: center;
  width: 70%;
  background: #ffffff;
}

.footer {
  height: 70px;
  background-image: url("/src/app/images/negro.jpg");
}
